    <div class="container-fluid" id="home">
    <h3 class="mt-3 mb-4 text-center" id="home-title">Trending Today</h3>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12  ml-0">
            <img id="cover-img" class="img-fluid" src="https://d1qp59yxlq7zhd.cloudfront.net/media/19-06-2019-LiveMusic_140619_Pune.jpg" alt="Card image cap">
            <div class="overlay">
            </div>
            {{!-- <audio controls src={{audioOne.preview_url}} class="cover-audio"></audio> --}}
            <h3 id="cover-name">Welcome to Musify!</h3>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0" id="one">
            <div  class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageOne" src="{{firstAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcOne" data1="{{firstAlbumImage}}" data2="{{firstAlbumName}}" data="{{audioOne.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioOne.preview_url}} class="second"></audio> --}}
                <h5 class="album-name pt-4 pb-2" id="songNameOne" value="{{firstAlbumName}}">{{firstAlbumName}}</h5>
                <button type="button" id="firstSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top"  id="songImageTwo" src="{{secondAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcTwo" data1="{{secondAlbumImage}}" data2="{{secondAlbumName}}" data="{{audioTwo.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioTwo.preview_url}} class="second"></audio> --}}
                <h5 class="album-name pt-4 pb-2" id="songNameTwo" value="{{secondAlbumName}}">{{secondAlbumName}}</h5>
                <button type="button" id="secondSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageThree" src="{{thirdAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcThree" data1="{{thirdAlbumImage}}" data2="{{thirdAlbumName}}" data="{{audioThree.preview_url}}">                
                </div>
                {{!-- <audio controls src={{audioThree.preview_url}} class="second"></audio> --}}
                <h5 class="album-name pt-4 pb-2" id="songNameThree" value="{{thirdAlbumName}}">{{thirdAlbumName}}</h5>
                <button type="button" id="thirdSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
    </div>
    <h3 class="mt-3 mb-4 text-center">Weekly Top Songs</h3>
    <div class="row mb-5">
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageFour" src="{{fourthAlbumImage}}" id="img" alt="Card image cap">
                <div class="overlay" id="audioSrcFour" data1="{{fourthAlbumImage}}" data2="{{fourthAlbumName}}" data="{{audioFour.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioFour.preview_url}} class="first"></audio> --}}
                <h5 class="album-name pt-4 pb-4" id="four" value="{{fourthAlbumName}}">{{fourthAlbumName}}</h5>
                <button type="button" id="fourthSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top"  id="songImageFive" src="{{fifthAlbumImage}}" alt="Card image cap">
                <div class="overlay"  id="audioSrcFive"  data1="{{fifthAlbumImage}}" data2="{{fifthAlbumName}}" data="{{audioFive.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioFive.preview_url}} class="first"></audio> --}}
                <h5 class="album-name pt-4 pb-4" id="songNameFive" value="{{fifthAlbumName}}">{{fifthAlbumName}}</h5>
                <button type="button" id="fifthSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2  mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageSix" src="{{sixthAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcSix" data1="{{sixthAlbumImage}}" data2="{{sixthAlbumName}}" data="{{audioSix.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioSix.preview_url}} class="first"></audio> --}}
                <h5 class="album-name pt-4 pb-4" id="six" value="{{sixthAlbumName}}">{{sixthAlbumName}}</h5>
                <button type="button" id="sixthSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xs-6 mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageSeven" src="{{seventhAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcSeven" data1="{{seventhAlbumImage}}" data2="{{seventhAlbumName}}"data="{{audioSeven.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioSeven.preview_url}} class="first"></audio> --}}
                <h5 class="album-name pt-4 pb-1" id="songNameSeven" value="{{seventhAlbumName}}">{{seventhAlbumName}}</h5>
                <button type="button" id="seventhSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xs-6 mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageEigth" src="{{eigthAlbumImage}}" alt="Card image cap">
                <div class="overlay"  id="audioSrcEigth" data1="{{eigthAlbumImage}}" data2="{{eigthAlbumName}}" data="{{audioEigth.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioEigth.preview_url}} class="first"></audio> --}}
                <h5 class="album-name pt-4 pb-4" id="songNameEigth" value="{{eigthAlbumName}}">{{eigthAlbumName}}</h5>
                <button type="button" id="eigthSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xs-6 mb-2  ml-0">
            <div class="card text-center" style="width: 12rem;">
                <img class="card-img-top" id="songImageNine" src="{{ninthAlbumImage}}" alt="Card image cap">
                <div class="overlay" id="audioSrcNine" data1="{{ninthAlbumImage}}" data2="{{ninthAlbumName}}"data="{{audioNine.preview_url}}">
                </div>
                {{!-- <audio controls src={{audioNine.preview_url}} class="first" id="last"></audio> --}}
                <h5 class="album-name pt-4 pb-4" id="songNameNine" value="{{ninthAlbumName}}">{{ninthAlbumName}}</h5>
                <button type="button" id="ninthSong" class="btn btn-dark btn-circle text-center"><i class="fas fa-plus"></i>
                <span class="tooltiptext">Add to Playlist</span></button>
            </div>
        </div>
    </div>
    </div>