<div class="container-fluid" id="home">
    <h2 style="padding-top: 5rem;">Welcome to library</h2>
{{#if recent}}
     <h3 class="text-center" style="padding-top: 1rem">Recent played</h3>
    <div class="row">
{{#each recent}}
 <div class="col-6 col-sm-4 col-md-4 col-lg-2  my-3  ml-0">
        <div class="card text-center" style="width: 12rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="overlay" data1="{{this.image}}" data2="{{this.songName}}" data="{{audioSrc}}">
            </div>
            <h5 class="album-name pt-4 pb-4" id="four">{{this.songName}}</h5>
            <button type="submit" class="btn btn-danger btn-circle delete" value="{{this._id}}"><i class="fas fa-minus"></i></button>
        </div>
    </div>
{{/each}}
</div>
{{/if}}
{{#if data}}
   <h3 class="text-center" id="playlist">Playlist</h3>
   <div class="row" style="margin-bottom: 4rem">
    {{#each data }}
    <div class="col-6 col-sm-4 col-md-4 col-lg-2  my-3  ml-0">
        <div class="card text-center" style="width: 12rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="overlay" data1="{{this.image}}" data2="{{this.songName}}" data="{{audioSrc}}">
            </div>
            <h5 class="album-name pt-4 pb-4" id="four">{{this.songName}}</h5>
            <button type="submit" class="btn btn-circle btn-danger delete" value="{{this._id}}"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    {{/each}}
</div>
</div>
{{/if}}
</div>